<div class="a1-be-together-section mdl-typography--text-center">
  <div class="logo-font a1-slogan">{{ section.slogan }}</div>
  <div class="logo-font a1-sub-slogan">{{ section.sub-slogan }}</div>
  <div class="logo-font a1-create-character">
    <a href=""><img src="{{ site.baseurl }}/{{ site.images_path }}/{{ section.image }}">{{ section.content }}</a>
  </div>

  <a href="#casos">
    <button class="a1-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
      <i class="material-icons">expand_more</i>
    </button>
  </a>
</div>
