<div class="a1-hero-section mdl-typography--text-center">
  <div class="logo-font a1-headline"><h2>{{ section.headline }}</h2></div>
  <div class="logo-font a1-sub-headline">{{ section.sub-headline }}</div>
  <div class="logo-font a1-create-character">
    <a href=""><img src="{{ site.baseurl }}/{{ site.images_path }}/{{ section.image }}">{{ section.content }}</a>
  </div>

  <a href="#casos">
    <button class="a1-fab mdl-button a1-mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
      <i class="material-icons">expand_more</i>
    </button>
  </a>
</div>
