<div class="a1-screen-section mdl-typography--text-center">
  <div class="mdl-typography--display-1-color-contrast">{{ section.slogan }}</div>
  <div class="a1-screens">
    <div class="a1-wear a1-screen">
      <a class="a1-image-link" href="">
        <img class="a1-screen-image" src="images/wear-silver-on.png">
        <img class="a1-screen-image" src="images/wear-black-on.png">
      </a>
      <a class="a1-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android Wear</a>
    </div>
    <div class="a1-phone a1-screen">
      <a class="a1-image-link" href="">
        <img class="a1-screen-image" src="images/nexus6-on.jpg">
      </a>
      <a class="a1-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Phones</a>
    </div>
    <div class="a1-tablet a1-screen">
      <a class="a1-image-link" href="">
        <img class="a1-screen-image" src="images/nexus9-on.jpg">
      </a>
      <a class="a1-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Tablets</a>
    </div>
    <div class="a1-tv a1-screen">
      <a class="a1-image-link" href="">
        <img class="a1-screen-image" src="images/tv-on.jpg">
      </a>
      <a class="a1-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android TV</a>
    </div>
    <div class="a1-auto a1-screen">
      <a class="a1-image-link" href="">
        <img class="a1-screen-image" src="images/auto-on.jpg">
      </a>
      <a class="a1-link mdl-typography--font-regular mdl-typography--text-uppercase mdl-typography--text-left" href="">Coming Soon: Android Auto</a>
    </div>
  </div>
</div>
