<article class="a1-cta mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
  <div class="mdl-card__media ">
    <img src="{{ site.baseurl }}/{{ site.images_path }}/cta.png" alt="call to action">
  </div>
  <header>
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">VOLS QUE LA TEVA CAMPANYA APAREGUI AL SANIMAP?</h3>
    </div>
  </header>
  <div class="mdl-card__supporting-text">
    <span class="mdl-typography--font-light mdl-typography--subhead"> Aquesta secció s'anirà actualitzant a mesura que les entitats veinals i col·lectius en lluita per la sanitat ens feu arribar la informació sobre les campanyes que heu portat a terme.
    </span>
    <h5 class="mdl-card__title-text">Contacta amb nosaltres per saber què cal fer!</h5>
  </div>
  <div class="mdl-card__actions">
    <a class="a1-link mdl-button a1-mdl-button mdl-js-button mdl-typography--text-uppercase" href="mailto:veins@confavc.cat?subject=Campanya sanimap">
      Envia la teva campanya
      <i class="material-icons">mail_outline</i>
    </a>
  </div>
</article>
