<footer class="a1-footer mdl-mega-footer footer-3 mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <ul class="mdl-mega-footer__link-list">
      <li>CONFAVC</li>
      <li>932 688 980</li>
      <li><a class="a1-link mdl-typography--font-light" href="mailto:veins@confavc.cat">veins@confavc.cat</a></li>
    </ul>  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone footer__navigation">
    <ul>
      <li><a class="a1-link mdl-typography--font-light" href="{{ site.baseurl }}/projecte.html">El Projecte</a> | </li>
      <li><a class="a1-link mdl-typography--font-light" href="{{ site.baseurl }}/campanyes-ciutadanes.html">Campanyes ciutadanes</a> | </li>
      <li><a class="a1-link mdl-typography--font-light" href="{{ site.baseurl }}/avis-legal.html">Avís legal</a> | </li>
      <li><a class="a1-link mdl-typography--font-light" href="{{ site.baseurl }}/cookies.html">Cookies</a></li>
    </ul>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone text-right text-center-xs">
    <ul class="mdl-mega-footer__link-list">
      <li>
        <a class="a1-link mdl-typography--font-light" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ca" target="_blank">
          <img alt="Llicència CC BY-NC-SA 4.0 Internacional" src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png">
        </a>
      </li>
      <li>Continguts sota <a class="a1-link mdl-typography--font-light" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ca" target="_blank">llicencia CC</a></li>
      <li>Reconeixement - NoComercial - CompartirIgual 4.0</li>
    </ul>
  </div>
</footer>
<div class="subfooter">
  <div>© Copyright 2017 | Made by <a class="a1-alt-link mdl-typography--font-light" href="https://www.adabits.org" target="_blank">Adab1ts</a> with &lt;3</div>
  <div><a class="a1-alt-link " href="#top"><strong>Torna adalt</strong>
  <i class="material-icons">expand_less</i></a></div>
</div>
