<footer class="a1-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        <strong>Torna adalt</strong>
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>
  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer__drop-down-section">
      <div class="mdl-typography--font-light">
        <ul class="mdl-mega-footer__link-list">
          <li>932 688 980</li>
          <li><a class="a1-link mdl-typography--font-light" href="mailto:veins@confavc.cat">veins@confavc.cat</a></li>
        </ul>
      </div>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <div class="mdl-typography--font-light">
        <ul class="mdl-mega-footer__link-list">
          <li><a class="a1-link mdl-typography--font-light" href="{{ site.baseurl }}/projecte.html">El Projecte</a></li>
          <li><a class="a1-link mdl-typography--font-light" href="{{ site.baseurl }}/casos-d-estudi.html">Casos d'estudi</a></li>
          <li><a class="a1-link mdl-typography--font-light" href="{{ site.baseurl }}/avis-legal.html">Avís legal</a></li>
          <li><a class="a1-link mdl-typography--font-light" href="{{ site.baseurl }}/cookies.html">Cookies</a></li>
        </ul>
      </div>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <div class="mdl-typography--font-light">
        <ul class="mdl-mega-footer__link-list">
          <li>
            <a class="a1-link mdl-typography--font-light" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.ca" target="_blank"><img alt="Llicència CC BY-NC-SA 4.0 Internacional" src="http://licensebuttons.net/l/by-nc-sa/4.0/88x31.png"></a>
          </li>
          <li>Continguts sota llicencia CC</li>
          <li><a class="a1-link mdl-typography--font-light" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.ca" target="_blank">Reconeixement-NoComercial-CompartirIgual 4.0</a></li>
        </ul>
      </div>
    </div>
    <div class="mdl-mega-footer--right-section">
      <div class="mdl-typography--font-light">
        <ul class="mdl-mega-footer__link-list">
          <li>© 2017</li>
          <li>Made by <a class="a1-link mdl-typography--font-light" href="http://adabits.org" target="_blank">Adab1ts</a> with &lt;3</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
