      <header class="a1-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="a1-title mdl-layout-title">
            <a href="{{ site.baseurl }}{% link index.md %}">
              <img class="a1-logo-image" src="{{ site.baseurl }}/{{ site.images_path }}/{{ site.logo }}">
            </a>
          </span>
          <span class="a1-title mdl-layout-title">{{ site.title }}</span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="mdl-layout-spacer"></div>
          <!-- Social Navigation -->
          <div class="a1-social">
            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" href="https://twitter.com/confavc" target="_blank">
              <span class="a1-icon socicon-twitter"></span>
            </a>
            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" href="https://www.facebook.com/confavc" target="_blank">
              <span class="a1-icon socicon-facebook"></span>
            </a>
          </div>
          <span class="a1-mobile-title mdl-layout-title">
            <a href="{{ site.baseurl }}{% link index.md %}"><img class="a1-logo-image" src="{{ site.baseurl }}/{{ site.images_path }}/{{ site.logo }}"></a>
          </span>
        </div>
      </header>
