      <div class="a1-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="a1-title mdl-layout-title">
            <img class="a1-logo-image" src="{{ site.baseurl }}/{{ site.images_path }}/logo-confavc.png">
          </span>
          <span class="a1-title mdl-layout-title">Mapa del Sistema Sanitari de Catalunya
            </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="a1-header-spacer mdl-layout-spacer"></div>
          <!-- Social Navigation -->
          <div>
              <a class="a1-social" href="https://twitter.com/confavc" target="_blank"><img class="a1-logo-image" src="{{ site.baseurl }}/{{ site.images_path }}/twitter-48px.png"></a>
              <a class="a1-social" href="https://www.facebook.com/confavc" target="_blank"><img class="a1-logo-image" src="{{ site.baseurl }}/{{ site.images_path }}/facebook-48px.png"></a>
          </div>
          <span class="a1-mobile-title mdl-layout-title">
            <img class="a1-logo-image" src="{{ site.baseurl }}/{{ site.images_path }}/logo-confavc.png">
          </span>
        </div>
      </div>
