      <div class="a1-drawer mdl-layout__drawer">
        <div class="mdl-layout-title">
          <img class="a1-logo-image" src="{{ site.baseurl }}/{{ site.images_path }}/{{ site.logo }}">
          <h5>{{ site.title }}</h5>
        </div>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{{ site.baseurl }}{% link index.md %}">Inici</a>
          <a class="mdl-navigation__link" href="{{ site.baseurl }}{% link projecte.md %}">Projecte</a>
          <a class="mdl-navigation__link" href="{{ site.baseurl }}{% link campanyes-ciutadanes.md %}">Campanyes ciutadanes</a>

        <div class="a1-drawer-separator"></div>
          <a class="mdl-navigation__link" href="{{ site.baseurl }}{% link legal.md %}">Avís legal</a>
          <a class="mdl-navigation__link" href="{{ site.baseurl }}{% link cookies.md %}">Cookies</a>
        </nav>
      </div>
