      <div class="a1-drawer mdl-layout__drawer">
        <div class="mdl-layout-title">
          <img class="a1-logo-image" src="{{ site.baseurl }}/{{ site.images_path }}/{{ site.logo }}">
          <h5>{{ site.title }}</h5>
        </div>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Inici</a>
          <a class="mdl-navigation__link" href="{{ site.baseurl }}/projecte.html">El projecte</a>
          <a class="mdl-navigation__link" href="{{ site.baseurl }}/casos-d-estudi.html">Casos d'estudi</a>
          <div class="a1-drawer-separator"></div>
          <a class="mdl-navigation__link" href="{{ site.baseurl }}/avis-legal.html">Avís legal</a>
          <a class="mdl-navigation__link" href="{{ site.baseurl }}/cookies.html">Cookies</a>
        </nav>
      </div>
