---
layout: default
---
<div class="a1-ribbon"></div>
<div class="a1-page">
  <div class="a1-container mdl-grid">
    <main class="a1-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col">
      <!-- Breadcrumb -->
      <div class="a1-crumbs mdl-color-text--grey-500">
        <!--<a href="{{ site.baseurl }}{% link campanyes-ciutadanes.md %}">Campanyes ciutadanes</a> &gt; {{ page.title }}-->
        Campanyes ciutadanes &gt; {{ page.title }}
      </div>
      <!-- End Breadcrumb -->

      <section class="mdl-grid">
        <!-- Imatge -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <img src="{{ site.baseurl }}/{{ site.images_path }}/{{ page.imatge }}" alt="{{ page.title }}">
        </div>
        <!-- End Imatge -->

        <!-- Títol -->
        <header class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <h2>{{ page.title }}</h2>
        </header>
        <!-- End Títol -->

        <!-- Fitxa -->
        <section class="a1-card-container mdl-cell mdl-cell--12-col mdl-card">
          <span class="mdl-typography--font-light a1-headline">{{ page.entitats | array_to_sentence_string: 'i' }}</span>
          <span class="mdl-typography--font-light a1-headline">{{ page.municipi }} | {{ page.any }}</span>
          <h5>Àmbits de la reivindicació:</h5>
          <ul class="mdl-typography--font-light mdl-typography--subhead">
            {% for item in page.ambits %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          <h5>Objectius de la campanya:</h5>
          <ul class="mdl-typography--font-light mdl-typography--subhead">
            {% for item in page.objectius %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          <h5>Accions més destacades dutes a terme:</h5>
          <ul class="mdl-typography--font-light mdl-typography--subhead">
            {% for item in page.accions %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          <h5>Objectius assolits:</h5>
          <ul class="mdl-typography--font-light mdl-typography--subhead">
            {% for item in page.logros %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% if page.web %}
          <h5>Més informació:</h5>
          <span class="mdl-typography--font-light mdl-typography--subhead">
            <a class="a1-alt-link mdl-typography--font-regular" href="http://{{ page.web }}" target="_blank">{{ page.web }}</a>
          </span>
          {% endif %}
        </section>
        <!-- End Fitxa -->

        <!-- Contingut -->
        <article class="mdl-cell mdl-cell--12-col">
          {{ content }}
          {% if page.font %}
          <div class="mdl-typography--font-light a1-text-right">
            <a class="a1-alt-link" href="http://{{ page.font-url }}" target="_blank">{{ page.font }}</a>
          </div>
          {% endif %}
        </article>
        <!-- End Contingut -->

        <!-- Galeria -->
        {% if page.fotos %}
        <div class="mdl-cell mdl-cell--12-col">
          <h3>Galeria fotogràfica</h3>
        </div>
        {% for item in page.fotos %}
        <figure class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone a1-galeria">
          <figcaption class="mdl-color-text--grey-500">{{ item.titol }}</figcaption>
          <img src="{{ site.baseurl }}/{{ site.images_path }}/{{ item.foto }}" alt="{{ item.titol }}">
        </figure>
        {% endfor %}
        {% endif %}
        <!-- End Galeria -->

        <!-- Social -->
        {% include shared/social-sharing.html %}
        <!-- End Social -->
      </section>
    </main>
  </div>
</div>
