<div class="a1-casos a1-casos-estudi a1-casos-estudi--destacats">
  <div class="a1-casos-section">
    <div class="a1-section-title mdl-typography--display-2-color-contrast"><h2>{{ section.headline }}</h2></div>
<div class="a1-card-container mdl-grid">
{% assign casos-destacats = site.casos | sort: 'order' %}
{% for cas in casos-destacats %}
  {% if cas.destacat == 'si' %}
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
    <div class="mdl-card__media">
      <img src="{{ site.baseurl }}/{{ site.images_path }}/{{ cas.image }}" alt="{{ cas.title }}">
    </div>
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">{{ cas.title }}</h3>
    </div>
    <div class="mdl-card__title">
      <span class="mdl-typography--font-light mdl-typography--subhead">{{ cas.municipi }} | {{ cas.any }}</span>
    </div>
    <div class="mdl-card__supporting-text">
      <h5 class="mdl-card__title-text">Motiu de la reivindicació:</h5>
      <span class="mdl-typography--font-light mdl-typography--subhead">{{ cas.motiu }}</span>
    </div>
    <div class="mdl-card__actions">
      <a class="a1-link mdl-button a1-mdl-button mdl-js-button mdl-typography--text-uppercase" href="{{ cas.url }}">
        Llegir més
        <i class="material-icons">chevron_right</i>
      </a>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>
</div>
</div>
